
@{
    ViewData["Title"] = "Gear Ratio";
}

<h1>Gear Ratio</h1>

@model GearViewModel
@using (Html.BeginForm())
{
    <table class="table table-borderless table-responsive table-sm ">
        <tr>
            <td class="d-none d-lg-table-cell">
                <div>
                    <label>Chainring</label>
                </div>
            </td>
            <td>
                <div>
                    <label>Cog</label>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                Min
            </td>

            <td>
                Min
            </td>
        </tr>

        <tr>
            <td>
                <div>
                    @Html.TextBoxFor(s => s.Chainringmin, new { @type = "number" })
                </div>
            </td>
            <td>
                <div>
                    @Html.TextBoxFor(s => s.Cogmin, new { @type = "number" })
                </div>
            </td>
        </tr>

        <tr>
            <td>
                Max
            </td>

            <td>
                Max
            </td>
          
        </tr>

        <tr>
            <td>
                <div>
                    @Html.TextBoxFor(s => s.Chainringmax, new { @type = "number" })
                </div>
            </td>
            <td>
                <div>
                    @Html.TextBoxFor(s => s.Cogmax, new { @type = "number" })
                </div>
            </td>

           
        </tr>
        <tr>
            <td >
                <input id="Submit1" type="submit" value="Submit" />
            </td>
           
        </tr>
    </table>

}


@{
    var arrayobject = ViewBag.MyArray;

    if (arrayobject != null)
    {
        
        <table id="numbers-container" class="table table-bordered table-sm table-hover border-bottom">
            @foreach (var sublist in arrayobject)
            {
                <tr>
                    @foreach (var value in sublist)
                    {
                        <td>@value</td>
                    }
                </tr>
            }
        </table>
    }

}


